<div class="input-group module-controls">

<div class="input-group-btn">
<button type="button"
class="btn btn-default dropdown-toggle"
data-toggle="dropdown"
aria-haspopup="true"
aria-expanded="false"><span id="view-name">View</span> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
{% for id_view in site.views %}
{% if site.views[id_view]["title"] == "-"%}
<li role="separator" class="divider"></li>
{% else %}
<li{% if id_view == page.id_view %} class="active"{% endif %}>
<a href="#" class="view-switcher" data-href="{{ id_view }}">
{{ site.views[id_view]["title"] }}
</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>

<input type="text" id="browser-search-query" class="form-control"{% if page.search_query %}value="{{ page.search_query }}"{% endif %}></input>

<span id="browser-clear-button" class="input-group-btn">
<button class="btn btn-default">
<i class="mdi mdi-close-circle"></i>
</button>
</span>

<span id="browser-search-button" class="input-group-btn">
<button class="btn btn-default">
<i class="mdi mdi-magnify"></i>
</button>
</span>

</div>

