<div class="input-group module-controls">

<div class="input-group-btn">
<button type="button"
class="btn btn-default dropdown-toggle{% if not page.asset %} disabled{% endif %}"
data-toggle="dropdown"
aria-haspopup="true"
aria-expanded="false">{% if page.asset %}{{ site.folders[page.asset["id_folder"]]["title"] }}{% endif %} <span class="caret"></span>
</button>
<ul class="dropdown-menu">
{% for id_folder in site.folders %}
<li{% if id_folder == page.asset["id_folder"] %} class="active"{% endif %}>
<a href="#" class="folder-switcher" data-href="{{ id_folder }}">
{{ site.folders[id_folder]["title"] }}
</a>
</li>
{% endfor %}
</ul>
</div>

<input type="text" class="form-control" value="" disabled></input>


<span class="input-group-btn">
<button class="btn btn-default{% if not page.asset %} disabled{% endif %}" type="button">
<i class="mdi mdi-undo"></i>
</button>
</span>

<span class="input-group-btn">
<button class="btn btn-default{% if not page.asset %} disabled{% endif %}" type="button">
<i class="mdi mdi-content-save"></i>
</button>
</span>

</div>

