<table id="job-table" class="table table-hover">
<thead>
<tr>
<th style="width:35px;">#</th>
{% if page.show_job_title %}<th>Title</th>{% endif %}
<th style="width:100px;">Action</th>
<th style="width:130px;">Created</th>
<th style="width:130px;">Started</th>
<th style="width:130px;">Finished</th>
<th style="width:150px;">Progress</th>
<th>Message</th>
<th style="width:80px;">&nbsp;</th>
</tr>
</thead>

<tbody id="job-table-body">
{% for job in page.jobs %}
<tr data-href='{{ job.id }}'>
<td>{{ job.id }}</td>
{% if page.show_job_title %}<td><a href="/mam?f={{job.id_asset}}">{{ job.asset["title"]}}</a></td>{% endif %}
<td>{{ job.action }}</td>
<td><small>{{ job.creation_time }}</small></td>
<td><small>{{ job.start_time }}</small></td>
<td><small>{{ job.end_time }}</small></td>
<td>
{% if job.status == 1 %}
<div class="progress">
<div
class="progress-bar progress-bar-striped active" role="progressbar"
style="width:{{ job.progress }}%">
</div>
</div>
{% elif job.status in [0,5] %}
<i class="mdi mdi-autorenew"></i>
{% elif job.status in [3,4] %}
<i class="mdi mdi-close"></i>
{% elif job.status in [2,6] %}
<i class="mdi mdi-check"></i>
{% endif%}
</td>
<td><small class="job-message">{{ job.message }}</small></td>
<td>
<button
type="button"
data-href='{{ job.id }}'
class="job-restart-button btn btn-warning btn-xs"{% if job.status in [0, 5] %} disabled{% endif%}>
<i class="mdi mdi-autorenew"></i>
</button>
<button
type="button"
data-href='{{ job.id }}'
class="job-abort-button btn btn-danger btn-xs"{% if job.status in [2,3,4,6] %} disabled{% endif%}>
<i class="mdi mdi-close"></i>
</button>
</td>
</tr>{% endfor %}
</tbody>

</table>
