<div class="input-group module-controls">

<span id="rundown-previous-day-button" class="input-group-btn">
<button class="btn btn-default">
<i class="mdi mdi-chevron-left"></i>
</button>
</span>

<div class="input-group-btn">
<button type="button"
class="btn btn-default dropdown-toggle"
data-toggle="dropdown"
aria-haspopup="true"
aria-expanded="false">{{ site.playout_channels[page.id_channel]["title"] }} <span class="caret"></span>
</button>
<ul class="dropdown-menu">
{% for id_channel in site.playout_channels %}
<li{% if id_channel == page.id_channel %} class="active"{% endif %}>
<a href="#" class="channel-switcher" data-href="{{ id_channel }}">
{{ site.playout_channels[id_channel]["title"] }}
</a>
</li>
{% endfor %}
</ul>
</div>


<input id="rundown-current-date" type='text' class="form-control" />

<span id="rundown-calendar-button" class="input-group-btn">
<button class="btn btn-default">
<i class="mdi mdi-calendar-question"></i>
</button>
</span>

<span id="rundown-now-button" class="input-group-btn">
<button class="btn btn-default">
<i class="mdi mdi-calendar-today"></i>
</button>
</span>


<span id="rundown-next-day-button" class="input-group-btn">
<button class="btn btn-default">
<i class="mdi mdi-chevron-right"></i>
</button>
</span>

</div>

