
<div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="nx-widget">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Firefly controls
                </div>    
                <div class="panel-body">
                    <p>Force Firefly shutdown</p>
                    <button class="btn btn-sm btn-danger firefly-kill"><span class="glyphicon glyphicon-flash"></span> Force shutdown</button>
                </div>    
            </div>
        </div>
    </div>    

</div>



