
<div class="col-lg-12">

	<div class="form-group">
        <div class="text-center">
			<button id="add" class="btn btn-success btn-add"><span class="glyphicon glyphicon-plus"></span> Add setting</button>
			<button id="save" class="btn btn-danger btn-save"><span class="glyphicon glyphicon-ok"></span> Save settings</button>
        </div>
    </div>
</div>


<form class="form-horizontal" id="nx_settings_wrap" autocomplete="off">

	{% for key, value in data.data %}
    <div class="col-lg-4 col-md-6 col-sm-6">
		<div class="form-group">
			<label class="col-sm-5 control-label" for="{{ key }}">{{ key }}</label>  
			<div class="col-sm-7">
				<input id="i-{{ key }}" name="{{ key }}" type="text" autocomplete="off" autocorrect="off" placeholder="value" class="form-control input-md nx_settings_item" required="" value="{{ value }}">
			</div>
		</div>
    </div>
    {% endfor %}

</form>		   


<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Confirm NX settings modification</h3>
      </div>
      <div class="modal-body">
        <p>Confirm action <strong class="confirm-target"></strong>.</p>
        <div class="confirm-items"></div>
        <p class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> This operation can not be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger modal-confirm">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

		
    
