
{% if current_controller.current_item > -1 %}

{% set subtitle = 'New' %}
{% if current_controller.current_item > 0 %}
    {% set subtitle = data.data[1] %}
{% endif %}

<ol class="breadcrumb">
  <li><a href="/{{ current_controller.controller }}/{{ current_controller.current_view }}">Storages</a></li>
  <li class="active">{{ subtitle }}</li>
</ol>

<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" value="{{ data.data[1] }}" required>
    </div>
    <div class="form-group">
        <label for="path">Path</label>
        <input type="text" class="form-control" id="path" placeholder="Enter path" value="{{ data.data[3] }}" required>
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="l" placeholder="Login" value="{{ data.data[4] }}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="p" placeholder="Password" value="{{ data.data[5] }}">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
        {% if current_controller.current_item > 0 %}
            <button class="btn btn-success btn-save-and-close"><span class="glyphicon glyphicon-saved"></span> Save and close</button>
        {% endif %}
    </div>
</form>

{% else %}

<div class="table-responsive user-list ui-form">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style='width:50px;'>#</th>
                <th>Title</th>
                <th class="hidden-xs">Path</th>
                <th style='width:90px;'>
                    <button class="btn btn-default btn-sm btn-edit btn-success" data-id-obj="0" data-action="edit"><span class="glyphicon glyphicon-plus"></span> New</button> 
                </th>
            </tr>
        </thead>
        <tbody>
           {% for s in data.data %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td class="hidden-xs">{{ s[3] }}</td>
                <td>
                    <button class="btn btn-default btn-sm btn-edit btn-primary" data-id-obj="{{ s[0] }}" data-action="edit"><span class="glyphicon glyphicon-edit"></span> Edit</button>    
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}