{% if current_controller.current_item > -1 %}

<script src="/static/tools/codemirror/lib/codemirror.js"></script>
<script src="/static/tools/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/static/tools/codemirror/addon/scroll/simplescrollbars.js"></script>
<script src="/static/tools/codemirror/addon/fold/foldcode.js"></script>
<script src="/static/tools/codemirror/addon/fold/foldgutter.js"></script>
<script src="/static/tools/codemirror/addon/fold/indent-fold.js"></script>
<script src="/static/tools/codemirror/addon/fold/brace-fold.js"></script>
<script src="/static/tools/codemirror/addon/fold/xml-fold.js"></script>
<script src="/static/tools/codemirror/addon/fold/markdown-fold.js"></script>
<script src="/static/tools/codemirror/addon/fold/comment-fold.js"></script>
<script src="/static/tools/codemirror/mode/javascript/javascript.js"></script>

<script type="text/javascript">
$( function(){

{% if current_controller.current_item == 0 %}
	var config_value = {"type":"your JSON configuration here"};
{% else %}
	var config_value = {{ data.data[3]|safe }};
{% endif %}

	// INIT CONFIG
	$('#config').val(JSON.stringify(config_value, null, 4));

	var code_editor = CodeMirror.fromTextArea(document.getElementById("config"), {
		mode: "application/ld+json",
		styleActiveLine: true,
		matchBrackets: true,
		lineNumbers: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		viewportMargin: Infinity,
		scrollbarStyle: "simple",
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
		theme: 'base16-dark'
	});


	// SAVE REDIRECT
	var postSave = function(r,d){
		nx.utils.logDev(r,d);
		if(d.close === true){
			document.location.href = '/{{ current_controller.controller }}/{{ current_controller.current_view }}';
		}
	}

	// SAVE REQUEST
	$('.btn-save, .btn-save-and-close').on('click', function(e){
		e.preventDefault();
		
		var config = JSON.parse(code_editor.getValue());
		var id_channel = {{ current_controller.current_item }};

		if( $('#title').val().length>0 )
		{	

		    var data = {
				query_table: 'nx_channels', 
				query_key: 'id_channel', 
				query_val: id_channel, 
				close: $(this).hasClass('btn-save-and-close') || id_channel == 0 ? true: false,
		        query_data : JSON.stringify({
		             title : $('#title').val(),
		             channel_type : $('#channel_type').val(),
		             config : JSON.stringify(config)
		        })
		    }

		    //console.log(data);

		    nx.com.post({
		        url: '/{{ current_controller.controller }}/api',
		        data: data,
		        element: $('.nx-messages'),
		        notifyDone: true,
		        notifyFail: true,
		        notifyError: true,
				postDone: postSave,
				postFail: nx.utils.logDev,
				postError: nx.utils.logError,
		    });

	    }else{

	    	nx.utils.alert({
	    		type: 'warning',
	    		message: 'Title is required, can\'t save',
	    		clear: true,
	    		close: true
	    	});	    	
	    }


	});

});
</script>

{% else %}

<script type="text/javascript">
$( function(){
	$('button[data-action="edit"]').on('click', function(e){
		e.preventDefault();
		document.location.href = '/{{ current_controller.controller }}/{{ current_controller.current_view }}/'+$(this).data('id-obj');
	});
});
</script>

{% endif %}
