{% if current_controller.current_item > -1 %}

<script type="text/javascript">
$( function(){


	var allowUserSave = false;

{% if current_controller.current_item > 0 and data.status == True %}

	var destroy_session_callback = function(r,d){
	    document.location.href = '/{{ current_controller.controller }}/{{ current_controller.current_view }}/{{ current_controller.current_item }}';
	}	

	var destroy_session = function(e)
	    {
	        
	        session_data = {
	            destroy_session : e.data('s-key'),
	            destroy_host : e.data('s-host'),
	            destroy_id_user: {{ current_controller.current_item }}
	        }

	        nx.com.post({
	            url: '/{{ current_controller.controller }}/api',
	            data: session_data,
	            element: $('.nx-messages'),
	            notifyDone: true,
	            notifyFail: true,
	            notifyError: true,
	            postDone: destroy_session_callback, 
	            postFail: nx.utils.logDev,
	            postError: nx.utils.logError
	        });        

	    }


	$('.btn-force-logout').off('click').on('click', function(e){
        e.preventDefault();
        destroy_session( $(this) );    
    });

{% endif %}


	// SAVE REDIRECT
	var postSave = function(r,d){
		if(r.data.close === true){
			document.location.href = '/{{ current_controller.controller }}/{{ current_controller.current_view }}';
		}
	}

	// SAVE REQUEST
	$('.btn-save, .btn-save-and-close').on('click', function(e){
		e.preventDefault();

		var user_data =	{
				login: $('#_login').val(), 
				full_name: $('#_full_name').val(), 
				is_admin: $('#is_admin').prop('checked')===true?'true':'false',
			}

		// COLLECT PERMISSIONS	
		$('input.acl-list').each( function(){
			key = $(this).attr('name');
			user_data[key] = $(this).val();
		});	


		// INSERT OR UPDATE USER
		
		{% if current_controller.current_item > 0 and data.status == True %}
		// EXISTING USER, UPDATE, PASSWORD IS OPTIONAL
			
			// CHANGING PASSWORD
			if( $('#_login').val().length > 0 && $('#password').val().length>0 && $('#password').val() == $('#password-retype').val() ){
				var allowUserSave = true;
				user_data['password'] = $('#password').val();
			}	

			// PASSWORD IS UNCHANGED
			if( $('#_login').val().length > 0 && $('#password').val().length==0 ){
				var allowUserSave = true;
			}	

		{% else %}
		// NEW USER, INSERT, PASSWORD IS REQUIRED
			
			if( $('#_login').val().length > 0 && $('#password').val().length>0 && $('#password').val() == $('#password-retype').val() ){
				var allowUserSave = true;
				user_data['password'] = $('#password').val();
			}	

		{% endif %}


		if(allowUserSave === true)
		{	
			var id_user = {{ current_controller.current_item }};

			var data = {
				query_table: 'nx_users', 
				query_val: id_user, 
				close: $(this).hasClass('btn-save-and-close') || id_user == 0 ? true: false,
				query_data: JSON.stringify(user_data)
			}

			//console.log(data);
	        nx.com.post({
	            url: '/{{ current_controller.controller }}/api',
	            data: data,
	            element: $('.nx-messages'),
	            notifyDone: true,
	            notifyFail: true,
	            notifyError: true,
	            postDone: postSave,
	            postFail: nx.utils.logDev,
	            postError: nx.utils.logError,
	        });
	    }    
	        
	});

});
</script>

{% else %}

<script type="text/javascript">
$( function(){
	$('button[data-action="edit"]').on('click', function(e){
		e.preventDefault();
		document.location.href = '/{{ current_controller.controller }}/{{ current_controller.current_view }}/'+$(this).data('id-obj');
	});

	// DISABLE REDIRECT
	var disableDone = function(r,d){
		if(r.status === true){
			document.location.href = '/{{ current_controller.controller }}/{{ current_controller.current_view }}';
		}
	}


	// DISABLE REQUEST
	$('button[data-action="toggle"]').on('click', function(e){
		e.preventDefault();

		$('.remove-target').html( 'ID: '+$(this).data('id-obj')+' / '+$(this).data('title') );
		$('.modal').modal();
		
		var id_obj = $(this).data('id-obj');
		var is_disabled = $(this).data('is-disabled')==1?'false':'true';

		$('.modal-confirm').on('click', function(e){

			e.preventDefault();

			var data = {
				disable_confirm: is_disabled, 
				query_table: 'nx_users', 
				query_key: 'id_object', 
				query_val: id_obj
			}

			//console.log(data);
	        nx.com.post({
	            url: '/{{ current_controller.controller }}/api',
	            data: data,
	            element: $('.nx-messages'),
	            notifyDone: true,
	            notifyFail: true,
	            notifyError: true,
	            postDone: disableDone,
	            postFail: nx.utils.logDev,
	            postError: nx.utils.logError,
	        });
	
		});
    });    

});
</script>

{% endif %}
