<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if user %}{{ user.login }}@{% endif %}{{ site.name }} - nebula {{ nebula.version }}</title>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ sheet }}" />
</head>

<body class="loading">
    <!--[if lt IE 8]>
        <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

{{ content }}

</body>
</html>

