{% extends "base.html" %}
{% block body %}

<div class="table-responsive">
    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th style='width:50px;'>#</th>
                <th>Title</th>
                <th data-defaultsort="disabled">Aspect</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets%}
                <tr>
                    <td>{{ asset.id }}</td>
                    <td class='oneliner'>{{ asset["title"] }}</td>
                    <td>{{ asset["video/aspect_ratio"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
