{% extends "base.html" %}

{% block css %}

{% include "configuration/css."+current_controller.current_view+".html" ignore missing %}

{% endblock %}

{% block body %}


{% if current_controller.current_item == -1 %}

<div class="configuration-nav">

  {% set activeClass = " class=\"active\"" %}

  <ul class="nav nav-tabs nav-justified tab-configuration">
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="nx-settings" }}>
      <a href="/configuration/nx-settings" class="text-info"><span class="glyphicon glyphicon glyphicon-cog"></span> Settings</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="storages" }}>
      <a href="/configuration/storages" class="text-info"><span class="glyphicon glyphicon-hdd"></span> Storages</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="views" }}>
      <a href="/configuration/views" class="text-info"><span class="glyphicon glyphicon-hdd"></span> Views</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="services" }}>
      <a href="/configuration/services" class="text-info"><span class="glyphicon glyphicon-list-alt"></span> Services</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="channels" }}>
      <a href="/configuration/channels" class="text-info"><span class="glyphicon glyphicon-transfer"></span> Channels</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="actions" }}>
      <a href="/configuration/actions" class="text-info"><span class="glyphicon glyphicon-flash"></span> Actions</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="users" }}>
      <a href="/configuration/users" class="text-info"><span class="glyphicon glyphicon-user"></span> Users</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="system-tools" }}>
      <a href="/configuration/system-tools" class="text-info"><span class="glyphicon glyphicon-exclamation-sign"></span> Tools</a>
    </li>
</div>

{% endif %}


{% include "configuration/body."+current_controller.current_view+".html" ignore missing %}


{% endblock %}


{% block js %}

{% include "configuration/js."+current_controller.current_view+".html" ignore missing %}

{% endblock %}