{% set nav_bar = [
    ('browser', 'Assets', 'noop'),
    ('jobs', 'Jobs', 'can/job_control'),
    ('reports', 'Reports', 'can/export'),
    ('services', 'Services', 'can/service_control'),
    ('configuration', 'Configuration', 'is_admin')
] -%}


<ul class="nav navbar-nav">
{% for href, caption, acl in nav_bar %}
    {% set acl_res =  acl|ACL %}

    {% if acl_res.status == True %}
    	<li{% if href == current_controller.controller|e %} class="active"{% endif %}><a href="/{{ href|e }}">{{ caption|e }}</a></li>
    {% endif %}
{% endfor %}
</ul>        

  