{% extends "base.html" %}

{% block body %}


{% if current_controller.controller == 'reports' %}

    <div class="table-responsive col-lg-12">
        
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Plugin</th>
                    <th class="hidden-xs">Description</th>
                    <th style="width: 60px;"></th>
                </tr>
            </thead>
            <tbody>
               {% for k in env.plugins_available %}
               {% set plugin = env.plugins_available[k] %} 
                <tr>
                    <td>{{ plugin.manifest.name }}</td>
                    <td class="hidden-xs">{{ k }}</td>
                    <td class="hidden-xs">{{ plugin.manifest.description }}</td>
                    <td>
                        <a href="/reports/{{ k }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-arrow-right"></span> Run</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


{% else %}


    {% if env.plugin != False %}
        <div class="col-lg-12">
            <h1>{{ env.plugin.manifest.name }} </h1>
        </div>
        <div class="plugin-content col-lg-12">
            {% include env.plugin.data.template %}
        </div>    

    {% else %}
        <div class="col-lg-12">
            <h1>PLUGIN TERROR</h1>
        </div>

        <div class="table-responsive col-lg-6">

            <h1>ERRORS</h1>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Error</th>
                    </tr>
                    </thead>
                <tbody>
                {% for k in env['errors'] %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ env['errors'][k] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}    

{% endif %}




{% endblock %}


{% block js %}
<script type="text/javascript">


</script>

{% endblock %}