{% extends "base.html" %}

{% set service_control = 'can/service_control'|ACL %}

{% block body %}

{% if service_control.status == True %}
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style='width:50px;'>#</th>
                    <th>Title</th>
                    <th>Agent</th>
                    <th>Host</th>
                    <th style='width:110px;'>Last seen</th>
                    <th style='width:100px;'>Autostart</th>
                    <th style='width:80px;'>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services.data %}
                

                {% set action_permit = False %}
                    
                {% if service_control['can/service_control'] == True %} 
                    {% set action_permit = True %}
                {% endif %}


                {% if action_permit == False and service_control['can/service_control'] != False and service_control['can/service_control'] != True and service.id_service in service_control['can/service_control'] %}
                    {% set action_permit = True %}
                {% endif %}     

                <tr>
                    <td>{{service.id_service}}</td>
                    <td>{{service.title}}</td>
                    <td>{{service.agent}}</td>
                    <td>{{service.host}}</td>
                    <td><span data-svc-status-id="{{service.id_service}}"></span></td>
                    <td>
                        {% if action_permit == True %}
                        <input type="checkbox" data-id-service="{{service.id_service}}" data-label="" name="service-autostart"{%if service.autostart == 1 %} checked{% endif %} value="1">
                        {% endif %}
                    </td>

                    <td>
                        {% if action_permit == True %}
                        <button id="btn_svc_{{service.id_service}}" style='width:70px;' class="btn btn-default btn-xs" data-id-service="{{service.id_service}}">loading....</button>    
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}

{% endblock %}


{% block js %}

<script type="text/javascript">

{% if service_control.status == True %}

    $("[name='service-autostart']").on('change', function(e){
        e.preventDefault();
        id_service = $(this).data('id-service');
        autostart = $(this).prop('checked') === true ? 1: 0;
        $.post( nx.settings.controller+'/json', { autostart: autostart, id_service: id_service } ).done( function(r){
            update_services( true );
        });
    });

    var timeout_init = function() 
    {
        setTimeout('update_services( false )', 1500);
    }

    var update_services = function(once) 
    { 
        $.getJSON(nx.settings.controller+"/json").done(function(data)
        {

            if (data)
            {
                var settings = data;
                $.each( settings.data, function( id_service, dataset ) 
                {
                    set_service_warning(id_service, dataset[9], settings.now)
                    set_service_btn( id_service, dataset[7], dataset[4] );
                });
                
                if( once === false )
                {
                    timeout_init();    
                }
                
            } //if data
        });
    }
   
    var set_service_warning = function(id_service, last_seen, now)
    {
        diff = now - last_seen;
        min = parseInt(diff/60);
        sec = diff - (min*60);

        if( (now-30)>last_seen ){
            w = $('<i class="glyphicon glyphicon-alert"></i>');
            $("span[data-svc-status-id='"+id_service+"']").removeClass('text-success').addClass('text-danger').html(w).append(' '+min+':'+sec);
        }else{
            //w = $('<i class="glyphicon glyphicon-ok"></i>');
            w = '';
            $("span[data-svc-status-id='"+id_service+"']").removeClass('text-danger').addClass('svc-grey').html(w).append(' '+min+':'+sec);
        }
    }

    var set_service_btn = function( id_service, state, autostart ){
        
        // Set autostart checkbox
        ch = autostart == 1 ? true: false;
        $("[data-id-service='"+id_service+"']").prop('checked', ch);

        // Button state && behavior
        var btn_text, 
            btn_disabled, 
            btn_set_state, 
            btn_classes;

        switch(state){
            case 0:
                btn_text = 'START';
                btn_disabled = false;
                btn_set_state = 'start';
                btn_classes = 'btn-danger';
            break; case 1:
                btn_text = 'STOP';
                btn_disabled = false;
                btn_set_state = 'stop';
                btn_classes = 'btn-success';
            break; case 2:
                btn_text = 'STARTING';
                btn_disabled = true;
                btn_set_state = false;
                btn_classes = 'btn-warning disabled';
            break; case 3:
                btn_text = 'STOPPING';
                btn_disabled = false;
                btn_set_state = 'kill';
                btn_classes = 'btn-warning';
            break; case 4:
                btn_text = 'KILLING';
                btn_disabled = true;
                btn_set_state = false;
                btn_classes = 'btn-default disabled';    
            break; default:
                btn_text = 'REQUEST ERROR';
                btn_disabled = true;
                btn_set_state = false;
                btn_classes = 'btn-default disabled';
        }

        $("#btn_svc_" + id_service)
            .html(btn_text)
            .removeClass("btn-default btn-warning btn-success btn-danger disabled")
            .addClass(btn_classes)
            .prop('disabled', btn_disabled)
            .off('click')
            .on('click', function(e)
            {
                e.preventDefault();
                if(btn_set_state !== false)
                {
                    console.log(id_service, state, btn_set_state);
                    set_service_state( id_service, btn_set_state );
                    update_services( true );
                }
            });

    }

    var set_service_state = function( id_service, action )
    {
        $.post( nx.settings.controller+"/json", { action: action, id_service: id_service } );   
    }

    $(document).ready(function()
    {
        update_services( false );
    });

{% endif %}


</script>


{% endblock %}