{% extends "_base.html" %}

{% block content %}
<table id="browser-table" class="table table-hover">
    <thead>
        <tr>
        {% for column in page.columns %}
            <th>{{ site.meta_types[column].header() }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody id="browser-body">
    {% for asset in page.assets %}
        <tr class="browser-row" data-href="{{ asset.id }}">
        {% for key in page.columns %}
            <td>
            {% include "includes/cellformat.html" %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
