{% extends "_base.html" %}

{% block content %}
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"><i class="mdi mdi-alert"></i> Objects</div>
<div class="panel-body">
<ul>
{% for object_type in page.object_counts  %}
<li>{{ object_type }} <span class="badge">{{ "{0:,}".format(page.object_counts[object_type]) }}</span></li>
{% endfor %}
</ul>
</div>
</div>
</div>


<div class="col-md-3">
<div class="panel panel-default">
<div class="panel-heading"><i class="mdi mdi-database"></i> Storage utilization</div>
<div class="panel-body">

<div class="list-group">
{% for storage in page.storages %}
<div class="list-group-item">
<div class="row-content">
<h4 class="list-group-item-heading">{{ storage.title }}</h4>
<p class="list-group-item-text">
{{ storage["free"] | filesizeformat }} of {{ storage["total"] | filesizeformat }} bytes free.
</p>
<div class="progress">
<div class="progress-bar" style="width:{{ 100*((storage["total"]-storage["free"])/storage["total"] ) }}%"></div>
</div>
</div>
</div>{% endfor %}
</div>


</div>
</div>
</div>

<div class="col-md-3">
<div class="panel panel-default">
<div class="panel-heading"><i class="mdi mdi-trending-up"></i> Performance</div>

<div class="list-group">
{% for hostname in page.hosts %}{% set host = page.hosts[hostname] %}
<div class="list-group-item">
<div class="row-content">
<h4 class="list-group-item-heading">{{ hostname }}</h4>
<p class="list-group-item-text">
<small>CPU</small><br>
<div class="progress">
<div class="progress-bar" style="width : {{ host.cpu }}%"></div>
</div>
</p>
<p class="list-group-item-text">
<small>MEM ({{ host.mem_free | filesizeformat }} of {{ host.mem_total | filesizeformat }} free)</small><br>
<div class="progress">
<div class="progress-bar" style="width : {{ 100*((host.mem_total - host.mem_free) / host.mem_total) }}%"></div>
</div>
</p>
<p class="list-group-item-text">
<small>SWP ({{ host.swp_free | filesizeformat }} of {{ host.swp_total | filesizeformat }} free)</small><br>
<div class="progress">
<div class="progress-bar" style="width : {{ 100*((host.swp_total - host.swp_free) / host.swp_total) }}%"></div>
</div>
</p>
</div>
</div>
{% endfor %}
</div>


</div>
</div>


{% endblock %}
