{% include "includes/rundown-nav.html" %}

<div id="rundown">
<table>
<table id="rundown-table" class="table table-sm table-condensed table-hover">
<thead>
<tr>{% for column in page.columns %}
<th{% if site.meta_types[column]["class"] > 1 %} style="width:1px;"{% endif %}>{{ site.meta_types[column].header() }}</th>{% endfor %}
</tr>
</thead>
{% for event in page.rundown %}
<tbody class="event-body">
<tr class="event-row">
{% for key in page.columns %}
<td><span>
{% if key == "rundown_symbol" %}
&nbsp;
{% else %}
{{ event.show(key, mode="hub") }}
{% endif %}
</span></td>
{% endfor %}
</tr>

{% for item in event.items %}
<tr>
{% for key in page.columns %}
<td><span>
{% if key == "rundown_symbol" %}
{{ item.show("id_folder", mode="hub") }}
{% else %}
{{ item.show(key, mode="hub") }}
{% endif %}
</span></td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
{% endfor %}
</table>

</table>
</div>
