{% extends "_base.html" %}

{% block content %}
<table id="service-table" class="table table-hover">
    <thead>
        <tr>
            <th style="width:35px;">#</th>
            <th>Title</th>
            <th style="width:200px;">Host</th>
            <th style="width:150px;">State</th>
            <th style="width:100px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody id="service-table-body">
        {% for service in page.data %}
        <tr data-href="{{ service["id"] }}">
            <td>{{ service["id"] }}</td>
            <td>{{ service["title"] }}</td>
            <td>{{ service["host"] }}</td>
            <td class="service-state-label">
                Please wait...
            </td>
            <td class="service-actions">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

